<!DOCTYPE html>
<html>
   <head>
      <title>SLEGAL</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
         body {font-family: Arial, Helvetica, sans-serif;}
         * {box-sizing: border-box}
         /* Full-width input fields */
         input[type=text], input[type=password] {
         width: 100%;
         padding: 15px;
         margin: 5px 0 22px 0;
         display: inline-block;
         border: none;
         background: #f1f1f1;
         }
         input[type=text]:focus, input[type=password]:focus {
         background-color: #ddd;
         outline: none;
         }
         hr {
         border: 1px solid #f1f1f1;
         margin-bottom: 25px;
         }
         /* Set a style for all buttons */
         button {
         background-color: #8a24ff;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
         cursor: pointer;
         opacity: 0.9;
       border-radius: 5px;
         }
         button:hover {
         opacity:1;
         }
         /* Extra styles for the cancel button */
         .btn-submit {
         background-color: #8a24ff;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
         cursor: pointer;
         width: auto; 
         opacity: 0.9;
         box-shadow: 0 2px 11px 2px #ccc;
         border-radius: 5px;
         }
         /* Add padding to container elements */
         .container {
         padding:0;
         }
         /* Clear floats */
         .clearfix::after {
         content: "";
         clear: both;
         display: table;
         }
         /* Change styles for cancel button and signup button on extra small screens */
         @media screen and (max-width: 300px) {
         .cancelbtn, .signupbtn {
         width: 100%;
         }
         }
         @media screen and (min-width: 700px) {
         .for-m
         {
         max-width: 500px;
         margin: auto;
         border-radius: 5px;
         box-shadow: 0 2px 11px 2px #ddd;
         margin-top:10px;
         }
         }
         .logo-set
         {
         text-align: center;
         padding: 20px 20px 0 20px;
         }
         .txt-center
         {
         text-align:center;
         }
         .mw-100
         {   
         max-width: 100%;
         }
      </style>
   </head>
   <body>
      <div class="logo-set"><a href="javascript:void0;" style="display: block;"></a></div>
      <div class="for-m" style="">
         <div class="container txt-center">
            <a href="javascript:void0;" style="display: block;background: #e0cbf8; padding: 60px 50px;"><img class="mw-100" src="https://administrateur.coopdivercite.com/static/public/logo1.png" width="300"/></a>
         <div style="display: block;padding: 60px 50px;">
         <img class="mw-100" src="https://administrateur.coopdivercite.com/static/public/logo1.png" width="50"/>
         <h1 class="txt-center">Inscription réussie</h1>
            <p class="txt-center">{{text}}</p>
              <p class="txt-center">Your verfication code is {{code}},please verify to continue</p>
              {{#if password}}
              <p class="txt-center">Your password system generated password is {{password}}</p>
               {{/if}}
         </div>
         </div>
      </div>
   </body>
</html>



   
