
  <!-- Google Font: Source Sans Pro -->
 

<div class="wrapper">
  <!-- Navbar -->
 
  <!-- /.navbar -->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item"><a href="/admin-panel">Accueil</a></li> -->
             
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Parents</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div  class="dataTables_filter">
                  <input type="text" id="cabinetname" class="form-control " placeholder="Entrer le nom du cabinet" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                 
                  <input type="text" id="phone_number"class="form-control " placeholder="Entrez le numéro de téléphone" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  <input type="text" id="email"class="form-control " placeholder="Entrez l'email" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  <select id="status"class="form-control" placeholder="Entrez l'email" aria-controls="example1" style="width: 300px;display:inline;margin-bottom: 3px;">
                    <option value="">Tous les statuts</option>
                    <option value="true">Actif</option>
                    <option value="false">Inactif</option>
                  </select>

                  <input type="text" id="start_date" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control " placeholder="date d'entrée en vigueur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  <input type="text" id="end_date" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control " placeholder="date de fin" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                </div>
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                   
                   
                    <th>Email</th>
                   
                    <th>Date d'enregistrement</th>
                   <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                 <% lawyers.forEach((element,index) => { %>
                  <tr>
                    <td><%= index+1 %> </td>
                  
                  
                    <td><%= element.email %></td>
                 
                    <td><%= element.date_of_registration&&moment(new Date(element.date_of_registration).toISOString().split("T")[0]).format("DD.MM.YYYY")?moment(new Date(element.date_of_registration).toISOString().split("T")[0]).format("DD.MM.YYYY"):""%></td>
                    <td>
                      <button onclick='handleview("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Modifier</button><button onclick='handledelete("<%= element._id %>")'  class="btn btn-danger" style="width:70px;padding: 0%;font-size: smaller">Supprimer</button>
                  <button onclick='handleactivate("<%= element._id %>")' class="btn btn-success" style="width:60px;font-size: smaller;padding: 0%;">Activer</button><button onclick='handledeactivate("<%= element._id %>")' class="btn btn-warning" style="width:70px;padding: 0%;font-size: smaller">Désactiver</button>
                </td>
                    
                  </tr>
                  <% }); %>
                  </tbody>
                
                
                
                 
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
  
         
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- Page specific script -->
<script>

  function handledelete(id){
      var r = confirm("Vous êtes sûr de vouloir supprimer cet Parent?");
  // toastr.error("<br /><br /><button type='button' id='confirmationButtonYes' class='btn clear'>Yes</button>",'Vous êtes sûr de vouloir supprimer cet avocat?',
  // {
  //     closeButton: false,
  //     allowHtml: true,
     
  //     onShown: function (toast) {
  //         $("#confirmationButtonYes").click(function(){
  //           console.log('clicked yes');
  //           r=true;
  //         });
  //       }
  // });
      const requestOptions = {
            method: 'get',

        };
        let url='/admin-panel/deleteparent/'+id;
      if (r == true) {
        fetch(url,requestOptions).then(function(response){
          toastr.success("Parent supprimé avec succès");
          window.location.reload();
        });
      } else {
        window.location.href = "/admin-panel/parents";
      }
    }
    function handleactivate(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/activateparent/'+id;
      fetch(url,requestOptions).then(function(response){
        toastr.success("Parent activé avec succès");
        window.location.reload();
      });
    }
    function handledeactivate(id){
        const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/deactivateparent/'+id;
      fetch(url,requestOptions).then(function(response){
        toastr.success("Parent désactivé avec succès");
        window.location.reload();
      });
    }
    function handleview(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/viewparent/'+id;
      
      window.location.href = url;
    }

    function handlefilter(){
    var cabinetname = $("#cabinetname").val();
   
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
    var phone_number = $("#phone_number").val();
    var email = $("#email").val();
    var status = $("#status").val();
    var url='/admin-panel/parents?cabinetname='+cabinetname+'&start_date='+start_date+'&end_date='+end_date+'&phone_number='+phone_number+'&email='+email+'&status='+status;
    window.location.href = url;
  }
  // <td><a href="/admin-panel/viewlawyercabinatid">View</a>|<a href="/admin-panel/deletelawyercabinat/id">Delete</a>
  //                     <a href="/admin-panel/activatelawyercabinat/id">Activer</a>|<a href="/admin-panel/deactivatelawyercabinat/id">Désactiver</a></td>
</script>

