

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
         
          </div><!-- /.col -->
        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
         
          <!-- /.row -->
          <!-- Main row -->
        
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
        <div class="container-fluid">
  
  
  
  
   
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Gérer les revenus des fournisseurs
</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                   <div  class="dataTables_filter">
                      <input type="text" id="client_name" class="form-control " placeholder="Indiquez le nom du fournisseur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                     
                     
    
                    
                      <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    </div>
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom du prestataire</th>
                      <th>Total des services</th>
                      <th>Total des transactions </th>
                      <th>Commissions administratives  </th>
                      <th>Gains totaux</th>
                     <th>Montant à transférer</th>
                     <!-- <th>Fréquence des paiements</th> -->
                     <th>Mise à jour du transfert</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                   <% earningsdata.forEach((element,index) => { %>
                    <tr>
                     
                  <td><%= index+1 %></td>
                      <td><%= element[0].first_name %> <%= element[0].last_name %> </td>
                     <td><%= element[0].revenuedata[0]?.totaljobs?element[0].revenuedata[0]?.totaljobs:0.00 %> </td>
                      <td><%= element[0].revenuedata[0]?.totaljobs?element[0].revenuedata[0]?.totaljobs:0.00 %></td>
                      <td><%= element[0].revenuedata[0]?.total_commision_earned?element[0].revenuedata[0]?.total_commision_earned.toFixed(2):0.00 %>€</td>
                      <td><%= element[0].revenuedata[0]?.total_earning?element[0].revenuedata[0]?.total_earning.toFixed(2):0.00 %>€</td>
                      <td><%= element[0].totalpendingamount.toFixed(2) %>€</td>
                      <!-- <td><%= element[0].payment_frequency %></td> -->
                      <td> <form>
                        <div class="input-group">
                          <!-- <input type="number" id="AL<%=element[0]._id%>" placeholder="Entrez le montant" class="form-control"/> -->
                          <span class="input-group-append">
                            <input type="button" class="btn btn-primary" 
                            onclick='showmodal("<%= element[0]._id %>")' value="Mise à jour"/>
                          </span>
                        </div>
                      </form></td>
                     
                  
                    </tr>
                    <% }); %>
                    </tbody>
                  
                  
                  
                   
                  
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
           
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    
  
      <div class="modal modl fade" id="First_offerModal2" tabindex="-1" role="dialog" aria-labelledby="First_offer" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="First_offerLabel">Troisième et dernière offer </h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                <form>
            <input class="form-control" type="number" placeholder="Entrez le montant" id="modalamount" style="margin-bottom:10px">
            <input class="form-control" type="hidden" id="modalid" >
            <button class="btn btn-primary btn-lg btn-block"  onclick="updateamount()" value="" style="margin-bottom: 30px;">Paye</button>
                 </form>
              </div>
           </div>
        </div>
     </div>
  <script>
   
   function showmodal(id){
    document.getElementById("modalid").value = id; 

    $('#First_offerModal2').modal('show');
   }
    function updateamount(){
      // var updateamount=$('#updateamount').val();
      var id=document.getElementById("modalid").value;
     
      var amount1=$('#modalamount').val();
      var baseurl= "<%= base_url %>";
            // var url= baseurl+"updatepaidamount";
            var url= baseurl+"updatepaidamount/"+id+"/"+amount1;
            const requestOptions = {
            method: 'get'
            
            
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                toastr.success(data.message);
                setTimeout(function(){
                    window.location.href = baseurl+"managelawyersincome";
                }, 2000);
            }else{
                toastr.success(data.message);
            }
        })
    }
    function handlefilter(){
      var client_name=$('#client_name').val();
      var status=$('#status').val();
      var baseurl= "<%=base_url%>";
      var url = "<%=base_url%>managelawyersincome?provider_name="+client_name+"&status="+status;
  window.location.href = url;
    }
  </script>
  
  
        </div>
      
      </section>
   
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- /.control-sidebar -->
</div>
