<%- include('./notification-header') -%> 
 <p style="font-size: 14px;font-weight: 200;">Message de M. :<%=name%></p>
<h4>Motif du contact:<%=reason%></h4>
<p><%=message%></p>

<%- include('./notification-footer') -%> 