<%- include('./notification-header') -%> 
 <p style="font-size: 14px;font-weight: 200;">Service annulé par :<%=provider_name%></p>
<h4>Motif de l'annulation:<%=reason%></h4>
<p>Message pour l'annulation par le client: <%=message%></p>

<%- include('./notification-footer') -%> 